@import url(
  'https://fonts.googleapis.com/css?family=lato&display=swap'
);

html {
  margin: auto;
  font-size: 1.4em;
}

body {
  background-color: #ffffff;
  font-family: lato;
}

#content {
  padding: 24px;
}

h2 {
  font-family: lato;
  font-size: 1.375em;
  font-weight: bold;
  color: #463581;
  margin-bottom: 24px;
}

h3 {
  font-family: lato;
  font-size: 1.125em;
  font-weight: 600;
  color: #59449B;
  margin-bottom: 24px;
}

h4 {
  font-family: lato;
  font-size: 1.125em;
  font-weight:600;
  color: #59449B;
  margin-bottom: 24px;
}

.titulo_header {
  font-family: lato;
  font-size: 0.75em;
  color: #A3A3A3;
  padding-top:14px;
  display: inline;
}

span {
  font-family: lato;
  font-size: 0.75em;
  color: #A3A3A3;
  display: inline;
  float: right;
}

p {
  font-family: lato;
  font-size: 0.875em;
  font-weight: normal;
  color: #6E6E6E;
}

img {
  height: 36px;
  margin: 24px 0px 24px 0px;
}

footer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}