<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<title>Relatório Observa</title>
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<div id="content">
		<div id="container" class="container">
      <header>
        <img class="logo" src="img/logo.svg" alt="Marca do site Observa">
        <span><%= $now->strftime('%d/%m/%Y') %></span>
      </header>
      <h1><%= $locale_name %></h1>
      <p>
        De acordo com dados do Instituto Brasileiro de Geografia e Estatística - IBGE, referentes a 2019, <%= $locale_name %> possui __ crianças entre zero e cinco anos de idade, o que corresponde a __ da população da localidade.
      </p>
      <p>
        A Constituição Federal assegura prioridade absoluta a essas crianças na efetivação dos seus direitos. O Marco Legal da Primeira Infância (Lei nº 13.257/2016) reforça essa prioridade e estabelece princípios e diretrizes para a formulação e a implementação de políticas públicas para a primeira infância em atenção à especificidade e à relevância dos primeiros anos de vida no desenvolvimento infantil.
      </p>
      <p>
        O diagnóstico apresentado abaixo ajuda a observar o alcance das políticas públicas direcionadas a esse público em <%= $locale_name %>, da mesma forma em que permite identificar prioridades e áreas sensíveis de atuação.
      </p>

      <ol>
        <li>
          <h2>Assistência Social</h2>
          <p>
            A Taxa de Sub-registro no município é de <%= $data->{'101-D0_R'} %>. Isso quer dizer que <%= $data->{'101-D0_A'} %> crianças não possuem registro de nascimento, documento fundamental para a sua garantia de identidade, para o vínculo familiar e para a relação com o Estado.
          </p>
          <p>
            Dados relativos a <%= $locale_name %> indicam que no âmbito familiar, <%= $data->{'102-D0_R'} %> das pessoas acima de 14 anos participam das tarefas de cuidados direcionadas a crianças na primeira infância. Entre as mulheres essa taxa é de <%= $data->{'102-D1_R'} %> e entre os homens de <%= $data->{'102-D2_R'} %>.
          </p>
          <p>
            Um olhar mais atento às condições socioeconômicas do <%= $locale_name %> indica que a proporção de crianças em domicílios com renda domiciliar per capita de até ½ salário mínimo é de <%= $data->{'103-D0_R'} %> e de até ¼ do salário mínimo, <%= $data->{'103-D9_R'} %>. Se consideradas as diferenças por cor ou raça, as crianças negras vivendo em domicílio com renda de até ½ salário mínimo por pessoa alcançam <%= $data->{'103-D4_R'} %> , enquanto as brancas <%= $data->{'103-D3_R'} %>.
          </p>
          <p>
            Ainda no contexto das condições socioeconômicas, <%= $data->{'111-D0_R'} %> das crianças do <%= $locale_name %> vivem em domicílios com acesso adequado às condições de saneamento básico. Nas áreas rurais esse percentual é de <%= $data->{'111-D6_R'} %>e nas urbanas de <%= $data->{'111-D5_R'} %>. Entre as crianças negras as condições de acesso adequado é de <%= $data->{'111-D4_R'} %> e entre as brancas de <%= $data->{'111-D3_R'} %>.
          </p>
          <p>
            A superação da pobreza é etapa fundamental para a universalização dos direitos das crianças na primeira infância. O Bolsa Família é um programa de transferência direta de renda que atende as crianças em situação de pobreza e extrema pobreza, com o limite de renda domiciliar per capita de até R$ 178,00. Em <%= $locale_name %>, a taxa de cobertura do Programa é de <%= $data->{'104-D0_R'} %>, ou seja, <%= $data->{'104-D0_A'} %> das crianças elegíveis estão atendidas. No grupo de zero a três anos a cobertura é de <%= $data->{'104-D51_R'} %> e no de quatro a cinco anos de <%= $data->{'104-D52_R'} %>. Já a Taxa de cobertura do Programa Criança Feliz no município é de <%= $data->{'105-D0_R'} %>. O Programa tem foco específico na primeira infância e visa ampliar a rede de cuidado integral direcionada a esse público.
          </p>
          <p>
            O Benefício de Prestação Continuada – BPC é uma garantia constitucional que alcança as crianças com deficiência em situação de vulnerabilidade econômica (renda familiar por pessoa de até ¼ do salário mínimo). <%= $locale_name %> possui  <%= $data->{'106-D0_A'} %> crianças de zero a cinco anos beneficiárias, das quais [106-D*] recebem o Bolsa Família e [106-D*] estão inscritas no Programa Criança Feliz.
          </p>
          <p>
            Em relação à estrutura e aos serviços da assistência social no município direcionados às crianças de zero a cinco anos. <%= $locale_name %> possui <%= $data->{'109-D0_A'} %> Centro(s) de Referência de Assistência Social - CRAS. A proporção dos atendimentos realizados com crianças nos Serviços de Convivência e Fortalecimento de Vínculos - SCFV é de <%= $data->{'110-D0_R'} %>. Os SCFV promovem atividades em grupo com foco na integração familiar e comunitária.
          </p>
          <p>
            O Sistema Único de Assistência Social – SUAS conta também com serviços especializados de acolhimento e proteção a famílias e pessoas temporariamente afastadas do convívio familiar.  A Taxa de Acolhimento no município é de  <%= $data->{'107-D0_R'} %>. Considerando o total de crianças de zero a cinco anos em situação de acolhimento,  <%= $data->{'107-D_A'} %> estão em famílias acolhedoras e <%= $data->{'107-D_A'} %> em unidades de acolhimento.
          </p>
          <p>
            <small>
              <sup>1</sup>Os demais dados apresentados neste relatório correspondem ao ano mais recente disponível.
            </small>
          </p>
          <p>
            <small>
              <sup>2</sup>Para acessar os critérios utilizados na definição de acesso adequado às condições de saneamento básico clique aqui: link para ficha de metadados.
            </small>
          </p>
        </li>
        <li>
          <h2>Educação</h2>
          <p>
            A Educação Infantil em <%= $locale_name %> possui: <%= $data->{'201-D0_A'} %> matrículas em creches, sendo <%= $data->{'201-D_A'} %> matrículas em creches públicas; e <%= $data->{'202-D0_A'} %> matrículas em pré-escola, sendo <%= $data->{'202-D_A'} %> matrículas em pré-escolas públicas.
          </p>
          <p>
            Do total de matrículas, as matrículas em tempo integral representam <%= $data->{'207-D0_R'} %>% das matrículas nas creches e <%= $data->{'208-D0_R'} %>% das matrículas nas pré-escolas. Sendo que:
          </p>
          <ul>
            <li>das matrículas em creches públicas são em tempo integral; e</li>
            <li><%= $data->{'208-D_R'} %>% das matrículas em pré-escolas públicas são em tempo integral.</li>
          </ul>
          <p>
            O Plano Nacional de Educação (PNE) 2014-2024 estabelece na sua quarta meta a universalização do atendimento escolar aos estudantes com deficiência, transtornos globais do desenvolvimento e altas habilidades ou superdotação, preferencialmente na rede regular de ensino. Em [nome da localidadade do município],  a proporção de crianças com Proporção de matrículas de crianças com deficiência, transtorno do espectro autista ou altas habilidades/superdotação em classes comunsdeficiência em turmas do ensino regular nas creches é de <%= $data->{'209-D0_R'} %> % e nas pré-escolas é de <%= $data->{'210-D0_R'} %>%.
          </p>
          <p>
            Em relação a estruturas da educação infantil, <%= $data->{'211-D0_R'} %>% das matrículas em creches e <%= $data->{'212-D0_R'} %>% das matrículas em pré-escola são em centros de educação infantil sem recurso de acessibilidade. Já a proporção de matrículas na educação infantil em centros de educação infantil com área externa, parque infantil ou brinquedos para educação infantil é de <%= $data->{'213-D0_R'} %>% nas creches e <%= $data->{'214-D0_R'} %>% nas pré-escolas. O saneamento básico é outra infraestrutura importante apresenta os seguintes números em <%= $locale_name %>:
          </p>
          <ul>
            <li>
              <%= $data->{'217-D5_R'} %>% das matrículas em creches da zona urbana são em são centros de educação infantil com saneamento básico;
            </li>
            <li>
              <%= $data->{'217-D6_R'} %>% das matrículas em creches da zona rural são em são centros de educação infantil com saneamento básico;
            </li>
            <li>
              <%= $data->{'218-D5_R'} %>% das matrículas em pré-escolas da zona urbana são em são centros de educação infantil com saneamento básico;
            </li>
            <li>
              <%= $data->{'218-D6_R'} %>% das matrículas em pré-escolas da zona rural são em são centros de educação infantil com saneamento básico.
            </li>
          </ul>
          <p>
            A regulamentação no conselho ou órgão de educação está presente em <%= $data->{'215-D_R'} %>% das creches públicas, <%= $data->{'215-D_R'} %>% das creches privadas, <%= $data->{'216-D_R'} %>% das pré-escolas públicas e <%= $data->{'216-D_R'} %>% das pré-escolas privadas de [Nome da localiddeo município]. Já a adequação da formação docente, que apresenta uma classificação dos docentes em exercício considerando sua formação acadêmica, a partir das orientações dos dispositivos legais e normativos relacionados ao tema apresenta o seguinte cenário em <%= $locale_name %>:
          </p>
          <ul>
            <li>
              <%= $data->{'219-D100_R'} %>% dos docentes das creches e <%= $data->{'220-D100_R'} %>% da pré-escola estão no grupo 1, dos docentes com formação superior de licenciatura na mesma disciplina que lecionam, ou bacharelado na mesma disciplina com curso de complementação pedagógica concluído.
            </li>
            <li>
              <%= $data->{'219-D101_R'} %>% dos docentes das creches e  <%= $data->{'220-D101_R'} %>% da pré-escola estão no grupo 2, dos docentes com formação superior de bacharelado na disciplina correspondente, mas sem licenciatura ou complementação pedagógica.
            </li>
            <li>
              <%= $data->{'219-D102_R'} %>% dos docentes das creches e <%= $data->{'220-D102_R'} %>% da pré-escola estão no grupo 3, dos docentes com licenciatura em área diferente daquela que leciona, ou com bacharelado nas disciplinas da base curricular comum e complementação pedagógica concluída em área diferente daquela que leciona.
            </li>
            <li>
              <%= $data->{'219-D103_R'} %>% dos docentes das creches e <%= $data->{'220-D103_R'} %>% da pré-escola estão no grupo 4, de docentes com outra formação superior não considerada nas categorias anteriores.
            </li>
            <li>
              <%= $data->{'219-D104_R'} %>% dos docentes das creches e <%= $data->{'220-D104_R'} %>% da pré-escola estão no grupo 5, de docentes que não possuem curso superior completo.
            </li>
          </ul>
          <p>
            Já a taxa de docentes das creches com formação continuada específica para atuação nessa etapa é de <%= $data->{'221-D0_R'} %>, sendo de <%= $data->{'221-D_R'} %> para os docentes da rede pública e de <%= $data->{'221-D_R'} %> para a rede privada. Nas pré-escolas, a taxa é de <%= $data->{'222-D0_R'} %>, sendo de <%= $data->{'222-D_R'} %> para os docentes da rede pública e de <%= $data->{'222-D_R'} %> para a rede privada.
          </p>
          <p>
            Em relação ao <%= $locale_name %>, <%= $data->{'203-D0_R'} %>% das crianças de até três anos frequentam a creche e <%= $data->{'204-D0_R'} %>% das crianças de quatro e cinco anos frequentam a pré-escola. Entre as crianças negras, <%= $data->{'203-D4_R'} %>% das crianças de até três anos frequentam a creche e <%= $data->{'204-D4_R'} %>% das crianças de quatro e cinco anos frequentam a pré-escola. Já entre as crianças brancas, <%= $data->{'203-D3_R'} %>% das crianças de até três anos frequentam a creche e <%= $data->{'204-D3_R'} %>% das crianças de quatro e cinco anos frequentam a pré-escola.
          </p>
          <p>
            Segundo a legislação brasileira, a matrícula na pré-escola é obrigatória, entretanto <%= $data->{'206-D0_R'} %>% das crianças de quatro e cinco anos não frequentam essa etapa de ensino. Entre os motivos relacionados a essa ausência estão:
          </p>
          <ul>
            <li>
              <%= $data->{'206-D66_R'} %>% não frequentam pois não tem pré-escola na localidade ou a pré-escola fica distante;
            </li>
            <li>
              <%= $data->{'206-D67_R'} %>% afirmam que a ausência é devido a falta de vaga na pré-escola e
            </li>
            <li>
              <%= $data->{'206-D68_R'} %>% devido a falta de dinheiro para pagar as despesas (mensalidades, transporte, material escolar etc.).
            </li>
          </ul>
          <p>
            Em relação as creches, <%= $data->{'205-D0_R'} %>% das crianças de até três anos não estão matriculadas, e entre os motivos apresentados estão:
          </p>
          <ul>
            <li>
              <%= $data->{'205-D66_R'} %>% não frequentam pois não tem creche na localidade ou a creche fica distante;
            </li>
            <li>
              <%= $data->{'205-D67_R'} %>% afirmam que a ausência é devido a falta de vaga na creche; e
            </li>
            <li>
              <%= $data->{'205-D68_R'} %>% devido a falta de dinheiro para pagar as despesas (mensalidades, transporte, material escolar etc.).
            </li>
          </ul>
        </li>
        <li>
          <h2>Saúde</h2>
          <p>
            A cobertura vacinal para primeira infância mede o percentual de crianças de zero a cinco anos vacinadas pela BCG, Penta, Tríplice e contra a Hepatite B. Esse indicador contribui para a avaliação operacional e de impacto dos programas de imunização, bem como para o delineamento de estratégias de vacinação. Em <%= $locale_name %>:
          </p>
          <ul>
            <li>
              A vacina BCG teve cobertura de <%= $data->{'301-D21_R'} %>
            </li>
            <li>
              A vacina Penta teve cobertura de <%= $data->{'301-D24_R'} %>
            </li>
            <li>
              A vacina Tríplice teve cobertura de __
            </li>
            <li>
              A vacina contra Hepatite B teve cobertura de <%= $data->{'301-D23_R'} %>
            </li>
          </ul>
          <p>
            O teste do pezinho é uma possibilidade de diagnóstico precoce  para algumas doenças, para que elas possam ser tratadas da forma e no tempo adequado. Em <%= $locale_name %> No estado, <%= $data->{'302-D0_R'} %> das crianças nascidas em <%= $year %> fizeram a triagem.
          </p>
          <p>
            A taxa de detecção de aids em menores de cinco anos e a taxa de incidência de sífilis congênita são importantes para o mapeamento da transmissão vertical e indicam a efetividade das políticas de prevenção. Em <%= $locale_name %>, a taxa de detecção de aids em menores de cinco anos foi de <%= $data->{'303-D0_R'} %>, o que corresponde a <%= $data->{'303-D0_A'} %> novos casos no município. Já a taxa de incidência de sífilis congênita foi de <%= $data->{'304-D0_R'} %>, o que corresponde a <%= $data->{'304-D0_A'} %> casos.
          </p>
          <p>
            Ainda no campo da atuação preventiva, as políticas de atenção à saúde da criança têm incentivado o  aleitamento materno como prática importante para o desenvolvimento infantil e para a prevenção de doenças na infância. O aleitamento materno exclusivo é indicado até os seis meses de idade e no/em estado de/da <%= $locale_name %> ele alcança <%= $data->{'305-D0_R'} %> das crianças nessa idade. A proporção de hospitais com UTI neonatal que possuem banco de leite humano no estado é de <%= $data->{'313-D0_R'} %>.
          </p>
          <p>
            As condições nutricionais das crianças também são objeto de atenção das políticas públicas, que devem considerar o acesso à saúde e à alimentação como prioridade absoluta. Entre as crianças acompanhadas pelo Programa Bolsa Família e cadastradas no Sistema de Vigilância Alimentar e Nutricional (Sisvan), observa-se que em/nono município de <%= $locale_name %>:
          </p>
          <ul>
            <li>
              <%= $data->{'306-D0_A'} %> crianças com menos de cinco anos apresentaram altura menor do que a esperada para a idade, o que corresponde a <%= $data->{'306-D0_R'} %> das crianças acompanhadas pelo Sisvan. Entre as crianças negras o déficit é de <%= $data->{'306-D4_R'} %> e entre as brancas de <%= $data->{'306-D3_R'} %>
            </li>
            <li>
              <%= $data->{'307-D0_A'} %> crianças com menos de cinco anos apresentaram peso menor do que o esperado para a idade, o que corresponde a <%= $data->{'307-D0_R'} %>% das crianças acompanhadas pelo Sisvan. Entre as crianças negras o déficit é de <%= $data->{'307-D4_R'} %> e entre as brancas de <%= $data->{'307-D3_R'} %>
            </li>
            <li>
              <%= $data->{'308-D0_A'} %> crianças com menos de cinco anos apresentaram peso maior do que o esperado para a idade, o que corresponde a <%= $data->{'308-D0_R'} %>% das crianças acompanhadas pelo Sisvan. Entre as crianças negras o excesso de peso é de <%= $data->{'308-D4_R'} %> e entre as brancas de <%= $data->{'308-D3_R'} %>
            </li>
          </ul>

          <p>
            A Taxa de mortalidade na infância mede a quantidade de óbitos de crianças de até cinco anos para cada mil crianças nascidas vivas. O dado é um importante indicador das características socioeconômicas, da infraestrutura socioambiental e de outros aspectos que determinam as condições de sobrevivências das crianças. O investimento adequado em políticas públicas de saúde, desde o pré-natal, é um elemento fundamental para a redução dos óbitos na infância, que na sua localidade somaram <=% $data->{'309-D0_R'} %> caso(s) em <%= $year %>.
          </p>
          <p>
            Em <%= $locale_name %>, a proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal, ou seja, atingiu o mínimo de seis consultas estabelecido pelo MinistérioMinisterio da Saúde, foi de <%= $data->{'310-D0_R'} %>. Entre as mulheres mais jovens (10 a 17 anos) o percentual foi de <%= $data->{'310-D5_R'} %> e entre as mais velhas (18 a 49 anos) de <%= $data->{'310-D6_R'} %>. Os partos vaginais corresponderam a <%= $data->{'311-D0_R'} %> do total de partos da localidade. Nos estabelecimentos públicos eles representaram <%= $data->{'311-D12_R'} %> do total e nos privado, <%= $data->{'311-D13_R'} %>.
          </p>
          <p>
            A Taxa de mortalidade materna reflete a qualidade da assistência à saúde da mulher, especialmente durante a gravidez. Nessa localidade, <%= $data->{'312-D0_R'} %> mulher(es) veio/vieram a óbito por causas ou condições consideradas de morte materna em <%= $year %>.
          </p>
          <p>
            O sistema de saúde possui indicadores que ajudam a estimar a parcela da população cobertura pela atenção primária, onde as crianças geralmente recebem os primeiros atendimentos. Esses indicadores são utilizados no monitoramento do acesso aos serviços de saúde e nessa localidade apresentam os seguintes resultados:
          </p>
          <ul>
            <li>
              Cobertura da populacional estimada pelas equipes básicas de Saúde Bucal: <%= $data->{'316-D0_R'} %>.
            </li>
            <li>
              Cobertura da populacional estimada na Atenção Primária: <%= $data->{'315-D0_R'} %>.
            </li>
          </ul>
          <p>
            As internações por causas sensíveis àa atenção primária são um fator importante para analisar a efetividade do cuidado na atenção primária, pois uma parte dessas internações pode ser evitada por ações mais qualificadas de cuidado desenvolvidas nesse nível da atenção à saúde. O percentual de internações de crianças de zero a cinco anos por condições sensíveis à atenção primária no município foi de <%= $data->{'314-D0_R'} %>
          </p>

          <h3>Quadro síntese – Educação</h3>
          <table>
            <colgroup>
              <col width="650"/>
              <col width="120"/>
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <p dir="ltr">
                    Indicador
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    N
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Estimativa de sub-registro de nascimento
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'101-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Taxa de realização de cuidados domésticos ou familiares
                    com crianças
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'102-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Proporção de crianças em situação domiciliar de pobreza
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'103-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Proporção de crianças beneficiárias do Programa Bolsa
                    Família
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'104-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Taxa de Cobertura do Programa Criança Feliz
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'105-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Proporção de crianças beneficiárias do BPC inseridas no
                    Bolsa Família e no Criança Feliz
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'106-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Taxa de Acolhimento
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'107-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Proporção de crianças em Famílias Acolhedoras
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'108-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Número de Centros de Referência de Assistência Social –
                    CRAS
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'109-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Proporção de atendimento realizados com crianças em
                    Serviços de Convivência e Fortalecimento de Vínculos -
                    SCFV
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'110-D0_R'} %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p dir="ltr">
                    Proporção de crianças em domicílios com acesso a
                    saneamento básico
                  </p>
                </td>
                <td>
                  <p dir="ltr">
                    <%= $data->{'111-D0_R'} %>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>

          <h3>Quadro síntese – Educação</h3>
            <table>
              <colgroup>
                <col width="650"/>
                <col width="120"/>
                <col width="120"/>
              </colgroup>
              <tbody>
                <tr>
                  <td>
                    <p dir="ltr">
                      Indicador
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      Creche
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      Pré-escola
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Número de matrículas de educação infantil
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'201-D0_A'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'202-D0_A'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de crianças que frequentam a educação
                      infantil
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'203-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'204-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de crianças que não frequentam a educação
                      infantil por dificuldade de acesso
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'205-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'206-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de matrículas em tempo integral na educação
                      infantil
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'207-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'208-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de matrículas de crianças com deficiência,
                      transtorno do espectro autista ou altas
                      habilidades/superdotação em classes comuns da educação
                      infantilProporção de matrículas de crianças com
                      deficiência em turmas do ensino regular da educação
                      infantil
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'209-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'210-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de matrículas na educação infantil em centros
                      de educação infantil sem recurso de acessibilidade
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'211-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'212-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de matrículas na educação infantil em centros
                      de educação infantil com área externa, parque infantil
                      ou brinquedos para educação infantil
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'213-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'214-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de centros de educação infantil com
                      regulamentação no conselho ou órgão de educação
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'215-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'216-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de matrículas na educação infantil em centros
                      de educação infantil com saneamento básico
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'217-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'218-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Adequação da Formação Docente
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      219-*
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      220-*
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Taxa de docentes da educação infantil com formação
                      continuada específica para atuação nessa etapa
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'221-D0_R'} %>
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'222-D0_R'} %>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <h3>Quadro síntese – Educação</h3>
            <table>
              <colgroup>
                <col width="650"/>
                <col width="130"/>
              </colgroup>
              <tbody>
                <tr>
                  <td>
                    <p dir="ltr">
                      Indicador
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      N
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção cobertura vacinal para primeira infância
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'301-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de nascidos vivos que realizaram teste do
                      pezinho
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'302-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Taxa de detecção de aids em menores de cinco anos
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'303-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Taxa de incidência de sífilis congênita
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'304-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de crianças de até seis meses com aleitamento
                      materno exclusivo
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'305-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Prevalência de déficit de altura em menores de cinco anos
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'306-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Prevalência de déficit de peso em menores de cinco anos
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'307-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Prevalência de excesso de peso em crianças menores de
                      cinco anos
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'308-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Taxa de mortalidade na infância
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'309-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de nascidos vivos cujas mães realizaram pelo
                      menos 7 consultas pré-natal
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'310-D0_R'} %>
                    <p/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de parto vaginal
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'311-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Taxa de mortalidade materna
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'312-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Proporção de hospitais com uti neonatal que possuem
                      serviço banco de leite humano
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'313-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Internação por causas sensíveis a atenção básica
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'314-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Cobertura populacional estimada na Atenção Primária
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'315-D0_R'} %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p dir="ltr">
                      Cobertura de saúde bucal
                    </p>
                  </td>
                  <td>
                    <p dir="ltr">
                      <%= $data->{'316-D0_R'} %>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
        </li>
      </ol>



		</div>
    <!--
    <footer class="site-footer">
      <div class="container">
        <section class="site-footer__colophon">
          <div class="site-footer__logo">
            <a href="/" class="logo"></a>
          </div>

          <div class="site-footer__social">
            <ul>
              <li><a href="" class="facebook">facebook</a></li>
              <li><a href="" class="twitter">tweeter</a></li>
            </ul>
          </div>

          <address>
            <span>SDS - Ed. Miguel Badya, Bloco L, Sala 318 - Brasília - DF / 70394-901</span>
          </address>
        </section>
      </div>
      <div class="footer__developed-by">
        <span>Desenvolvido por:</span>
        <a href="https://appcivico.com/" target="_blank">
          appcívico
        </a>
      </div>
    </footer>
    -->
	</div>
</body>
</html>
