<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <h1>Localidade</h1>
    <p>Nome: <%= $locale_name %></p>
    <br>
    <h2>Indicadores</h2>
    % for my $indicator (@$indicators) {
      % my $subindicators = $indicator->{subindicators};
      <p>
        <h3><%= $indicator->{description} %></h3>
        <p>Tema: <%= $indicator->{area}->{name} %></p>
        <p>Fonte: <%= $indicator->{base} %></p>
        <p>Ano: <%= $indicator->{values}->{year} %></p>
        <p>Valor relativo: <%= $indicator->{values}->{value_relative} %></p>
        <p>Valor absoluto: <%= $indicator->{values}->{value_absolute} %></p>
        <br>
        <p>
            % for my $subindicator (@$subindicators) {
              % my $data = $subindicator->{data};
              <p>
                <h4><%= $subindicator->{classification} %>:</h4>
                <p>
                  % for my $d (@$data) {
                    <p>Descrição: <%= $d->{description} %></p>
                    <p>Ano: <%= $d->{values}->{year} %></p>
                    <p>Valor relativo: <%= $d->{values}->{value_relative} %></p>
                    <p>Valor absoluto: <%= $d->{values}->{value_absolute} %></p>
                  % }
                </p>
              </p>
            % }
        </p>
      </p>
    % }
  </div>
</body>
</html>
